In [4]:
import pandas as pd
df = pd.read_csv("./german_numerical-binsensitive.csv")
len(df)

1000

In [5]:
df['Y'] = list(map(int, df['credit'] == 1))
df = df.drop(columns=['credit'])

In [6]:
from sklearn.linear_model import LogisticRegression
y = df['Y']
X = df.drop(columns=['Y'])
clf = LogisticRegression(random_state=0).fit(X, y)
clf.score(X, y)

C:\Users\hetw\dev\programs\Anaconda3\envs\compas-analysis\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.776

In [10]:
clf.predict_proba(X)

array([[0.04189582, 0.95810418],
       [0.60331996, 0.39668004],
       [0.02316632, 0.97683368],
       ...,
       [0.06051485, 0.93948515],
       [0.73587014, 0.26412986],
       [0.26874094, 0.73125906]])

In [18]:
predicted_scores = clf.predict_proba(X)[:,1:]
df['scores'] = predicted_scores

In [20]:
df['sensitive-attribute'] = df['sex']

In [21]:
df

,month,credit_amount,investment_as_income_percentage,sex,residence_since,age,number_of_credits,people_liable_for,sex-age,status_A11,...,skill_level_A172,skill_level_A173,skill_level_A174,telephone_A191,telephone_A192,foreign_worker_A201,foreign_worker_A202,Y,scores,sensitive-attribute
0,6,1169,4,1,4,1,2,1,1,1,...,0,1,0,0,1,1,0,1,0.958104,1
1,48,5951,2,0,2,0,1,1,0,0,...,0,1,0,1,0,1,0,0,0.396680,0
2,12,2096,2,1,3,1,1,2,1,0,...,1,0,0,1,0,1,0,1,0.976834,1
3,42,7882,2,1,4,1,1,2,1,1,...,0,1,0,1,0,1,0,1,0.484311,1
4,24,4870,3,1,4,1,2,2,1,1,...,0,1,0,1,0,1,0,0,0.240745,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,0,4,1,1,1,0,0,...,1,0,0,1,0,1,0,1,0.947681,0
996,30,3857,4,1,4,1,1,1,1,1,...,0,0,1,0,1,1,0,1,0.619367,1
997,12,804,4,1,4,1,1,1,1,0,...,0,1,0,1,0,1,0,1,0.939485,1
998,45,1845,4,1,4,0,1,1,0,1,...,0,1,0,0,1,1,0,0,0.264130,1
999,45,4576,3,1,4,1,1,1,1,0,...,0,1,0,1,0,1,0,1,0.731259,1

In [22]:
df.to_json('german.json', orient='records')